@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

*{
    text-align: center;
    margin: 0px;
    text-decoration: none;
    font-size: 30px;
    background-color: MintCream;
    font-family: 'Amatic SC', cursive;
    font-weight: 900;
    font-stretch: expanded;
}

.links{
    color: darkcyan;
    -webkit-text-stroke:  1px darkcyan;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: darkcyan;
    padding: 5px;
}

.headers{
    padding: 20px;
}

.postTiles{
    padding: 10px;
    border: 2px solid black;
    box-shadow: 0 3px 10px darkcyan;
    margin: 20px 300px;
}

.messageTiles{
    padding: 10px;
    border: 1px solid black;
    margin: 20px 300px;
}