*{
    text-align: center;
    margin: 0px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: darkcyan;
    padding: 5px;
}

.headers{
    padding: 20px;
}

.postTiles{
    padding: 20px;
    
}